/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
.ic--baseline-phone {
  display: inline-block;
  width: 20px;
  height: 20px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24c1.12.37 2.33.57 3.57.57c.55 0 1 .45 1 1V20c0 .55-.45 1-1 1c-9.39 0-17-7.61-17-17c0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1c0 1.25.2 2.45.57 3.57c.11.35.03.74-.25 1.02z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;
  /*========== Colors ==========*/
  --hue-color: 206;
  --main-color: gray;
  --black-color: hsl(var(--hue-color), 4%, 4%);
  --black-color-alt: hsl(var(--hue-color), 4%, 8%);
  --title-color: hsl(var(--hue-color), 4%, 95%);
  --text-color: hsl(var(--hue-color), 4%, 75%);
  --text-color-light: hsl(var(--hue-color), 4%, 65%);
  --white-color: #FFF; /*couleur rouge #ff014fff*/
  --body-color: hsl(var(--hue-color), 4%, 6%);
  --container-color: hsl(var(--hue-color), 4%, 10%);
  --text-gradient: linear-gradient(hsl(var(--hue-color), 4%, 24%), hsl(var(--hue-color), 4%, 8%));
  --scroll-thumb-color: hsl(var(--hue-color), 4%, 16%);
  --scroll-thumb-color-alt: hsl(var(--hue-color), 4%, 20%);
  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 5rem;
  --bigger-font-size: 3.5rem;
  --big-font-size: 2.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --text-line-height: 2rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  /*========== Margenes Bottom ==========*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 7.5rem;
    --bigger-font-size: 4.5rem;
    --big-font-size: 4rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3 {
  color: var(--title-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4rem 0 2rem;
}

.section__title {
  font-size: var(--bigger-font-size);
  text-align: center;
  margin-bottom: var(--mb-2-5);
}

.section__title-gradient {
  background: var(--text-gradient);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

/*=============== LAYOUT ===============*/
.main {
  overflow: hidden;
}

.container {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

/*=============== HEADER ===============*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background: transparent;
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: flex;
  width: 1.5rem;
}

.nav__toggle {
  font-size: 1.2rem;
  color: var(--white-color);
  cursor: pointer;
}
/*CSS SUPP*/
/*About Us CSS*/
.about-section{
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; 
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 30px;
}
.box-about{
  position: relative;
  width: 300px;
  height: 300px;
  background: rgba(0,0,0,0.5);
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  margin-left: 10%;
  margin-right: 10%;
}
.box-about-content{
  position: relative;
  height: 300px;
  margin: auto;
  text-align: center;
  align-items:center;
  margin-right: 5%;
  width: 500px;
  margin-left: 0px;
}
.box-about-content-second{
  position: relative;
  height: 300px;
  margin: auto;
  text-align: center;
  align-items:center;
  margin-left: 5%;
  width: 500px;
  margin-right: 0;
}
.box-about-content-second p{
  text-align: justify;
  margin: auto;
  margin-top: 90px;
}
.box-about-content p{
  text-align: justify;
  margin: auto;
  margin-top: 90px;
}
.box-about::before{
  content: '';
  position: absolute;
  inset: -10px 140px;
  background: linear-gradient(315deg,black, white);
  transition: 0.5s;
  animation: animate 4s linear infinite;
}

.box-about:hover::before{
  inset: -20px 0px;
}

.addict-text{
  font-style: oblique;
}
@keyframes animate{
  0%{
    transform: rotate(0deg);
  }
  0%{
    transform: rotate(360deg);
  }
}

.box-about::after{
  content: '';
  position: absolute;
  inset: 6px;
  background: var(--body-color);
  border-radius: 50%;
  z-index: 1;
}
.content-about{
  position: absolute;
  inset: 30px;
  border: none;/*edit*/
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content-about img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 130%;
  object-fit: cover;
  transition: 0.5s;
  pointer-events: none;
  z-index: 3;
}
.box-about:hover .content-about img{
  opacity: 0;
}

.content-about h2{
  position: relative;
  font-size: 1em;
  text-align: center;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.content-about h2 span{
  font-weight: 300;
  font-size: 0.75em;
}
.content-about a{
  position: relative;
  margin-top: 10px;
  padding: 10px 20px;
  background: #fff;
  color: #070a1c;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-decoration: none;
  transition: 0.5s;
}
.content-about a:hover{
  letter-spacing: 1px;
}

.about-infos{
  margin-top: 20px;
  display: flex;
}
.about-dis{
  margin: auto;
  width: 300px;
  height: 200px;
}
.about-dis p{
  text-align: justify;
  font-size: 18px;
}

/*CSS SUPP*/
.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.nav__link {
  color: var(--white-color);
  font-size: var(--h2-font-size);
  text-transform: uppercase;
  font-weight: var(--font-semi-bold);
  background: var(--white-color);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  transition: .4s;
}

.nav__link:hover {
  background: var(--white-color);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.nav__close {
  position: absolute;
  font-size: 1.5rem;
  top: 1rem;
  right: 1rem;
  color: var(--white-color);
  cursor: pointer;
}

/* show menu */
.show-menu {
  top: 0;
}

/* Change background header */
.scroll-header {
  background-color: var(--body-color);
}

/* Active link */
.active-link {
  background: var(--white-color);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

/*=============== HOME ===============*/
.home__img {
  width: 250px;
  position: absolute;
  top: -16rem;
  right: 1.5rem;
}

.home__data {
  padding-top: 5rem;
}

.home__header {
  position: relative;
}

.home__title {
  position: absolute;
  top: -4rem;
  left: 1rem;
  line-height: 6rem;
  font-size: var(--biggest-font-size);
  background: var(--text-gradient);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.home__subtitle {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-2-5);
}

.home__title-description {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}

.home__description {
  margin-bottom: var(--mb-2-5);
  line-height: var(--text-line-height);
}

.home__price {
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  margin-left: var(--mb-0-75);
}

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: var(--black-color);
  color: var(--white-color);
  padding: 1rem 1.25rem;
  border-radius: .5rem;
  transition: .3s;
}

.button:hover {
  background-color: var(--black-color-alt);
}

.button__icon {
  font-size: 1.2rem;
}

.button--flex {
  display: inline-flex;
  align-items: center;
  column-gap: .75rem;
}

/*=============== SPONSOR ===============*/
.sponsor__img {
  width: 90px;
}

.sponsor__container {
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  row-gap: 5rem;
  justify-items: center;
  align-items: center;
}

/*=============== SPECS ===============*/
.specs__container {
  position: relative;
}

.specs__content {
  row-gap: 1.5rem;
}

.specs__data {
  display: grid;
  row-gap: .25rem;
}

.specs__icon {
  font-size: 1.2rem;
  color: var(--white-color);
}

.specs__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: #ff014fff;
}

.specs__subtitle {
  font-size: var(--smaller-font-size);
}

.specs__data:nth-child(1), .specs__data:nth-child(4) {
  margin-left: 1.5rem;
}

.specs__img {
  width: 250px;
  position: absolute;
  top: 2rem;
  right: -4rem;
}

/*=============== CASE ===============*/
.case__container {
  position: relative;
  grid-template-columns: repeat(2, 1fr);
}

.case__data {
  padding: 5rem 0 3rem;
}

.case__img {
  width: 250px;
  position: absolute;
  left: -7rem;
}

.case__description {
  margin-bottom: var(--mb-1-5);
  line-height: var(--text-line-height);
}

/*=============== DISCOUNT ===============*/
.discount__container {
  position: relative;
  background-color: var(--container-color);
  padding: 2rem 1.5rem;
  border-radius: .75rem;
}

.discount__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-75);
}

.discount__description {
  margin-bottom: var(--mb-1);
}

.discount__img {
  width: 300px;
  position: absolute;
  top: 4rem;
  right: -11rem;
}
.discount__img.country{
  width: 100px;
}

/*=============== PRODUCTS ===============*/
.products__line {
  line-height: 4rem;
}

.products__container {
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem 1.5rem;
  padding-top: 3rem;
}

.products__card {
  position: relative;
  height: 132px;
  background-color: var(--container-color);
  padding: .75rem;
  border-radius: .5rem;
  display: grid;
}

.products__img {
  width: 80px;
  position: absolute;
  inset: 0;
  margin-right: auto;
  margin-left: auto;
  top: -3rem;
}

.products__img.husky {
  top: -95px;
  width: 100px;
  transform: scale(0.7);
}
.products__img.malinois {
  top: -75px;
  transform:scale(1.1)
}
.products__img.canecorso {
  top: -75px;
  transform: scale(0.9);
}
.products__content {
  align-self: flex-end;
}
.products__title{
  color: #ff014fff;
}
.products__title, .products__price {
  font-size: var(--small-font-size);
}

.products__price {
  font-weight: var(--font-semi-bold);
}

.products__button {
  position: absolute;
  right: .5rem;
  bottom: .5rem;
  padding: .5rem;
  border-radius: .35rem;
  width: 30px;
  height: 30px;
  justify-content: center;
}
.products{
  text-align: center;
}
.products a{
  /*margin: 30px 0 0 700px;*/
  width: auto;
  margin-top: 40px;
}
/*=============== FOOTER ===============*/
.footer__container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 2rem;
}

.footer__logo {
  width: 4rem;
}

.footer__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
  color: #ff014fff;
}

.footer__links {
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
}

.footer__link {
  color: var(--text-color);
}

.footer__link:hover {
  color: #ff014fff;
}

.footer__form {
  display: flex;
  column-gap: .5rem;
  background-color: var(--container-color);
  padding: .5rem .75rem;
  border-radius: .5rem;
  margin-bottom: var(--mb-2);
}

.footer__input {
  background-color: var(--container-color);
  width: 90%;
  color: var(--white-color);
}

.footer__input::placeholder {
  color: var(--text-color);
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
}

.footer__social {
  display: flex;
  column-gap: 1.25rem;
}

.footer__social-link {
  display: inline-flex;
  color: #ff014fff;
  background-color: var(--container-color);
  padding: .5rem;
  border-radius: .25rem;
  font-size: 1rem;
}

.footer__social-link:hover {
  background-color: var(--black-color);
}

.footer__copy {
  margin-top: 5rem;
  text-align: center;
}

.footer__copy-link {
  cursor: pointer;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}
.no-style {
  text-decoration: none; 
  color: inherit; 
  cursor: pointer; 
}


/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  background-color: var(--container-color);
  border-radius: .25rem;
  padding: .45rem;
  opacity: 9;
  z-index: var(--z-tooltip);
  transition: .4s;
}

.scrollup:hover {
  background-color: var(--black-color);
  opacity: 1;
}

.scrollup__icon {
  color: var(--white-color);
  font-size: 1.35rem;
}

/* Show Scroll Up*/
.show-scroll {
  bottom: 5rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: .60rem;
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-thumb-color-alt);
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
/*Popup css*/
.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 9999; 
  opacity: 0;
}

.popup {
  background: hsl(var(--hue-color), 4%, 10%);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.options {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  gap: 5rem 5rem;
}

.option {
  width: 200px;
  height: 200px;
  border: 2px solid #ccc;
  text-align: center;
  line-height: 200px;
  cursor: pointer;
  margin: auto;
  display: block;
}

.option:hover {
  background-color: #f0f0f0;
}

.popup-container.active {
  transition: opacity 0.5s ease; 
  opacity: 1;
  height: 100%;
  display: flex;
}

.popup-container.active .options {
  display: flex;
}
.popup-choice{
  background-color: var(--black-color-alt);
}
.popup-choice button{
  width: 50%;
  padding: 10px 0;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
  margin: 20px auto auto auto;
  display: block;
}
.popup-choice button:hover{
  background-color: grey;
}
.popup-choice h2{
  text-align: center;
  margin-bottom: 20px;
}
.option.selected {
  background-color: #f0f0f0;
}

#close-popup {
  display: flex; /* Position absolue par rapport au bloc parent */
  flex-direction: row-reverse;
  top: 10px; /* Distance par rapport au haut du bloc parent */
  right: 10px; /* Distance par rapport à la droite du bloc parent */
  cursor: pointer;
  font-size: 24px; /* Taille de l'icône */
}
.skills-content .progress h3{
  font-size: large;
}
.dog-title{
  margin-top: 100px;
}
/*Last CSS*/
.el--plane {
  display: inline-block;
  width: 104px;
  height: 104px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1200 1200'%3E%3Cpath fill='%23000' d='M321 1164h120l269.28-480.06H1020s180 0 180-83.94c0-84-180-84-180-84H710.28L441 36H321l149.28 480H255.06L120 395.94H0l96.06 204L0 804h120l135.06-120.06h215.22z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  margin-right: 5%;
  margin-left: 5%;
}

  .arrow {
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 10%;
    position: relative;
    width: 10px;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 30px solid #fff; /* couleur de la flèche */
  }

  .arrow::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -30px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 30px solid #fff; /* couleur de fond pour couvrir la partie gauche */
  }
  .validation-msg .popup-message {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 0;
    background-color: var(--black-color);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1;
    font-size: 20px;
    color: var(--brown);
    width: auto;
}

.validation-msg .popup-message button {
    margin-left: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 60;
    padding: 0 0.5rem;

}
@media screen and (min-width: 300px) {
  .option {
    width: 100px;
    max-height: 100px;
    line-height: 100px;
    display: inline-table;
    align-self: center;
  }
  .popup-choice{
    width: 280px;
  }
  .about-section.footer__copy{
    margin-top: 1%;
    margin-bottom: 4%;
    margin-left: 1%;
    margin-right: 1%;
    flex-direction: column;
  }
  
  .about-section.footer__copy.test-second{
    margin-top: 200px;
    margin-bottom: 40%;
    margin-left: 1%;
    margin-right: 1%;
    flex-direction: column-reverse;
  }
   .box-about{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 1%;
    margin-right: 1%;
  }
  .box-about-content{
    position: relative;
    height: 100px;
    margin: auto;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
    align-items:center;
    width: 185px;
  }
  .box-about-content-second{
    position: relative;
    height: 100px;
    margin: auto;
    text-align: center;
    align-items:center;
    width: 190px;
  }
  .box-about-content p{
    margin-top: 5%;
    font-size: 13px;
    margin-left: 1%;
  }
  .box-about-content-second p{
    margin-top: 5%;
    font-size: 13px;
    margin-right: 1%;
  }
  
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
  .discount__container .skills-column{
    width: auto;
  }
  .skills-content .progress h3{
    font-size: small;
  }
  .section__title {
    font-size: var(--big-font-size);
  }
  .home__img {
    width: 200px;
    top: -13rem;
  }
  .home__title {
    top: -4rem;
    font-size: var(--bigger-font-size);
  }
  .home__data {
    padding-top: 1rem;
  }
  .home__description {
    font-size: var(--small-font-size);
  }
  .specs__img {
    position: initial;
    width: 250px;
    left: 50%;
    margin-top: 50%;
  }
  .specs__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .case__container {
    grid-template-columns: 10fr;
  }
  .case__img {
    position: relative;
    width: 220px;
    top: -2rem;
    margin-left: 50%;
  }
  .case__data {
    padding: 0;
    text-align: center;
  }
  .case__data p{
    text-align: justify;
  }
  .case__data a{
    width: auto;
    
  }
  .products__container {
    grid-template-columns: 142px;
    justify-content: center;
  }
  .faq .question h3{
    font-size: 0.9rem;
  }
  .faq .answer p{
    font-size: 0.9rem;
  }
  .faq-section .faq-more p{
    font-size: 0.9rem;
  }
  .discount__container{
    text-align: center;
    justify-content: center;
  }
  .discount__img {
    margin: auto;
    margin-top: 5%;
    display: block;
    position: relative;
    top: 0;
    right: 0;
    align-items: center;
  }
  .content-about h2{
    font-size: 0.7em;
  }
  .content-about h2 span{
    font-size: 0.85em;
  }
  .content-about a{
    font-size: 7.5px;
  }
  
}
/* For medium devices */
@media screen and (min-width: 500px){
  .option {
    width: 380px;
    height: 200px;
    max-height: none;
    max-width: none;
    border: 2px solid #ccc;
    text-align: center;
    line-height: 200px;
    cursor: pointer;
    margin: auto;
    display: block;
  }
  .popup-choice{
    width: 480px;
  }
  .about-section.footer__copy{
    margin-top: 1%;
    margin-bottom: 4%;
    margin-left: 3%;
    margin-right: 3%;
    flex-direction: row;
  }
  .about-section.footer__copy.test-second{
    margin-top: 1%;
    margin-bottom: 4%;
    margin-left: 3%;
    margin-right: 3%;
    flex-direction: row;
  }
   .box-about{
    width: 190px;
    height: 190px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 2%;
    margin-right: 2%;
  }
  .box-about-content{
    position: relative;
    height: 230px;
    margin: auto;
    text-align: center;
    align-items:center;
    width: 295px;
  }
  .box-about-content-second{
    position: relative;
    height: 300px;
    margin: auto;
    text-align: center;
    align-items:center;
    width: 295px;
  }
  .box-about-content p{
    margin-top: 15%;
    font-size: 11px;
    margin-left: 1%;
  }
  .box-about-content-second p{
    margin-top: 35%;
    font-size: 11px;
    margin-right: 1%;
  }
  .case__data {
    text-align: center;
  }
  .specs__img {
    position: initial;
    width: 250px;
    left: 50%;
    margin-top: 0;
  }
  .discount__container{
    text-align: center;
    justify-content: center;
  }
  .discount__container .skills-column{
    width: 400px;
  }
  .skills-content .progress h3{
    font-size: large;
  }
  .discount__img {
    margin: auto;
    margin-top: 5%;
    display: block;
    position: relative;
    top: 0;
    right: 0;
    align-items: center;
  }
  .content-about h2{
    font-size: 0.59em;
  }
  .content-about h2 span{
    font-size: 0.75em;
  }
  .content-about a{
    font-size: 6.5px;
  }

}
@media screen and (min-width: 576px) {
  .home__container {
    grid-template-columns: .8fr 1fr;
  }
  .home__data {
    padding-top: 2rem;
  }
  .home__img {
    top: -7rem;
    left: 0;
  }
  .specs__img {
    position: initial;
  }
  .specs__container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }
  .case__img {
    position: initial;
    margin-left: 0%;
  }
  .case__data {
    padding: 0;
    text-align: justify;
  }
  .case__container {
    grid-template-columns: max-content 250px;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
  }
  .discount__img {
    position: initial;
  }
  .discount__container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }
  .discount__container.skills{
    grid-template-columns: none;
  }
  .products__container {
    grid-template-columns: repeat(3, 142px);
    justify-content: center;
  }
  .home__img {
    padding-top: 150px;
    width: 45%;
    top: -1rem;
  }
}
/*
@media screen and (max-width: 576px){
  .about-section.footer__copy{
    margin-top: 1%;
    margin-bottom: 4%;
    margin-left: 3%;
    margin-right: 3%;
  }
   .box-about{
    width: 190px;
    height: 190px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 2%;
    margin-right: 2%;
  }
  .box-about-content{
    position: relative;
    height: 230px;
    margin: auto;
    text-align: center;
    align-items:center;
    width: 295px;
  }
  .box-about-content-second{
    position: relative;
    height: 300px;
    margin: auto;
    text-align: center;
    align-items:center;
    width: 295px;
  }
  .box-about-content p{
    margin-top: 15%;
    font-size: 11px;
    margin-left: 1%;
  }
  .box-about-content-second p{
    margin-top: 35%;
    font-size: 11px;
    margin-right: 1%;
  }
  
}
*/
@media screen and (min-width: 577px){
  
  .about-section.footer__copy{
    margin-top: 4%;
    margin-bottom: 15%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .box-about{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
  }
  .box-about-content{
    position: relative;
    height: 150px;
    margin: auto;
    text-align: center;
    align-items:center;
    margin-right: 2%;
    width: 305px;
    margin-left: 2%;
  }
  .box-about-content-second{
    position: relative;
    height: 100px;
    margin: auto;
    text-align: center;
    align-items:center;
    margin-left: 2%;
    width: 305px;
    margin-right: 2%;
  }
  .box-about-content p{
    font-size: 12px;
    margin-top: 1%;
  }
  .box-about-content-second p{
    font-size: 12px;
    margin-top: 1%;
  }
  .home__img {
    padding-top: 150px;
    width: 45%;
    top: -1rem;
  }
  .content-about h2{
    font-size: 0.65em;
  }
  .content-about h2 span{
    font-size: 0.75em;
  }
  .content-about a{
    font-size: 8px;
  }
}
@media screen and (min-width: 767px) {
  .discount__container .skills-column{
    width: 350px;
  }
  .about-section.footer__copy{
    margin-left: 5%;
    margin-right: 5%;
  }
  .box-about{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
  }
  .box-about-content{
    position: relative;
    height: 150px;
    margin: auto;
    text-align: center;
    align-items:center;
    margin-right: 2%;
    width: 425px;
    margin-left: 10%;
  }
  .box-about-content-second{
    position: relative;
    height: 150px;
    margin: auto;
    text-align: center;
    align-items:center;
    margin-left: 2%;
    width: 425px;
    margin-right: 10%;
  }
  .box-about-content p{
    font-size: 14px;
    margin-top: 4%;
  }
  .box-about-content-second p{
    font-size: 14px;
    margin-top: 4%;
  }
  
  body {
    margin: 0;
  }
  .section {
    padding: 3rem 0 2rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__logo {
    width: 2.5rem;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 3.5rem;
  }
  .nav__link {
    font-size: var(--normal-font-size);
    text-transform: initial;
  }

  .nav__toggle, .nav__close {
    display: none;
  }
  .home__container {
    position: relative;
    grid-template-columns: repeat(2, 1fr);
  }
  .home__img {
    padding-top: 150px;
    width: 360px;
    top: -1rem;
  }
  .home__data {
    padding-top: 8rem;
  }
  .specs__img {
    width: 300px;
  }
  .case__container {
    column-gap: 5rem;
  }
  .case__img {
    width: 300px;
  }
  .case__description {
    margin-bottom: var(--mb-2);
  }
  .discount__container {
    grid-template-columns: 250px max-content;
    justify-content: center;
    column-gap: 5rem;
    padding: 3rem 0;
  }
  .discount__container.skills{
    grid-template-columns: 300px max-content;
    column-gap: 2.5rem;
    padding: 2rem 0;
  }
  
  .discount__title {
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-1);
  }
  .discount__description {
    margin-bottom: var(--mb-2);
  }
  .products__container {
    grid-template-columns: repeat(3, 162px);
    gap: 6rem 3rem;
    padding-top: 5rem;
  }
  .products__card {
    height: 152px;
    padding: .85rem;
  }
  .products__img {
    width: 95px;
  }
  .footer__container {
    grid-template-columns: .4fr .7fr .7fr 1fr;
  }
  .faq .question h3{
    font-size: 1.2rem;
  }
  .faq .answer p{
    font-size: 1.2rem;
  }
  .faq-section .faq-more p{
    font-size: 1.2rem;
  }
  
}

@media screen and (min-width: 767px){
  
}
/*INTACT*/
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--body-color);
    top: -100%;
    left: 0;
    width: 100%;
    padding: 4rem 0 3rem;
    transition: .4s;
  }
  .show-menu {
    top: 0;
  }
}
/*INTACT*/


/* For large devices */

@media screen and (min-width: 1000px) {
  .discount__container .skills-column{
    width: 400px;
  }
  .discount__container.skills{
    grid-template-columns: 300px max-content;
    column-gap: 5rem;
  }
  .about-section.footer__copy{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
  }
  .box-about{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
  }
  .box-about-content{
    position: relative;
    height: 300px;
    margin: auto;
    text-align: center;
    align-items:center;
    margin-right: 2%;
    width: 490px;
    margin-left: 80px;
  }
  .box-about-content p{
    font-size: 16px;
    margin-top: 15%;
  }
  .box-about-content-second p{
    font-size: 16px;
    margin-top: 15%;
  }
  .box-about-content-second{
    position: relative;
    height: 300px;
    margin: auto;
    text-align: center;
    align-items:center;
    margin-left: 2%;
    width: 500px;
    margin-right: 80px;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .home__img {
    padding-top: 150px;
    width: 400px;
    top: -1rem;
  }
  .home__title {
    top: -5rem;
    left: 3.5rem;
  }
  .home__description {
    padding-right: 5rem;
  }
  .sponsor__img {
    width: 200px;
  }
  .discount__img {
    width: 350px;
  }
  .footer__container {
    padding-top: 3rem;
  }
  .footer__copy {
    margin-top: 9rem;
  }
  .faq .question h3{
    font-size: 1.4rem;
  }
  .faq .answer p{
    font-size: 1.4rem;
  }
  .faq-section .faq-more p{
    font-size: 1.4rem;
  }
  .content-about h2{
    font-size: 0.75em;
  }
  .content-about h2 span{
    font-size: 0.75em;
  }
  .content-about a{
    font-size: 11px;
  }
}

@media screen and (min-width: 1300px) {
  .about-section.footer__copy{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
  }
  .box-about{
    width: 390px;
    height: 390px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
  }
  .box-about-content{
    position: relative;
    height: 300px;
    margin: auto;
    text-align: center;
    align-items:center;
    margin-right: 2%;
    width: 500px;
    margin-left: 80px;
  }
  .box-about-content p{
    font-size: 19px;
    margin-top: 10%;
  }
  .box-about-content-second p{
    font-size: 19px;
    margin-top: 15%;
  }
  .box-about-content-second{
    position: relative;
    height: 300px;
    margin: auto;
    text-align: center;
    align-items:center;
    margin-right: 0px;
    width: 500px;
    margin-right: 80px;
  }
  .content-about h2{
    position: relative;
    font-size: 1.3em;
    text-align: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  
  .content-about h2 span{
    font-weight: 300;
    font-size: 0.75em;
  }
  .content-about a{
    position: relative;
    margin-top: 10px;
    padding: 10px 20px;
    background: #fff;
    color: #070a1c;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-decoration: none;
    transition: 0.5s;
  }
}


/*=============== MEDIA QUERIES ===============*/

.f7--dog {
  display: inline-block;
  width: 2em;
  height: 2em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 56'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M43.882 22.666c1.508-.66 2.652-1.778 3.725-2.9c1.223-1.279 1.239-2.882 1.239-3.721c0-1.334-1.253-2.386-3.29-2.435c-1.079-.026-1.738.243-2.637.898c-.644.468-2.153 2-1.48 3.253c.035.065.092.144.173.237a.519.519 0 0 1 .008.668a.47.47 0 0 1-.651.073l-.106-.082c-1.33-1.016-2.054-1.394-2.054-2.899c0-2.832 3.737-5.553 7.346-5.466c3.605.087 6.412 2.69 6.412 5.725c0 1.66-1.058 4.015-2.788 5.825a11.509 11.509 0 0 1-3.921 2.684c.094.155.191.322.29.503c.98 1.786.852 2.003.977 4.234c.124 2.232-.536 6.222-.283 8.188c.254 1.965 1.523 2.184 1.802 3.6c.177.897.616 4.791 1.317 11.68a1.001 1.001 0 0 1-.996 1.104h-2.057a.998.998 0 0 1-.998-.998v-.497c0-.315.148-.612.4-.8l.318-.239a1 1 0 0 0 .383-.986c-.547-2.912-1.028-4.665-1.442-5.259c-.306-.44-1.688-1.157-3.47-2.547c-.319-.25-.893-.78-1.72-1.592a.5.5 0 0 0-.848.296c-.15 1.203-.338 2.217-.561 3.042c-.27.994-1.1 3.587-2.489 7.777a1 1 0 0 1-.95.686h-2.618a.895.895 0 0 1-.894-.894v-.06a1 1 0 0 1 .821-.985l1.123-.206c.806-2.944 1.157-5.1 1.055-6.469c-.072-.968-.726-2.094-1.385-4.054c-.137-.408-.33-1.24-.578-2.5a.5.5 0 0 0-.617-.387l-6.663 1.726a.5.5 0 0 0-.316.72l.157.296c.3.562.456 1.19.456 1.827v9.36c0 .311-.145.605-.392.795l-1.397 1.07a1.001 1.001 0 0 1-.61.207H22.67a1.001 1.001 0 0 1-1-1.001v-.51c0-.363.195-.698.512-.875l.72-.402a1 1 0 0 0 .51-.958c-.114-1.351-.254-2.379-.422-3.083c-.172-.726-.59-2.022-1.253-3.886a.5.5 0 0 0-.799-.21l-.195.168c-.489.423-1.086.7-1.724.803l-6.252 1a.5.5 0 0 0-.291.83l.665.732c.168.184.26.424.26.673v.654a1.001 1.001 0 0 1-1.03 1l-.82-.024a1.001 1.001 0 0 1-.767-.394L9.75 46.327a1.001 1.001 0 0 1-.205-.607v-1.988c0-.347.18-.67.475-.852c4.271-2.64 6.587-4.099 6.948-4.38c.374-.29.53-.775.468-1.454c-.696-2.067-1.811-2.799-2.312-4.023c-.5-1.223-1.43-5.03-1.89-6.492c-.925-2.94-1.737-4.495-1.956-4.96c-.492-1.044-1.36-1.192-2.277-1.552c-.917-.361-2.66-.306-3.794-1.301c-1.133-.996-1.029-2.036-1.293-3.168v-1.385c0-.553.449-1.001 1.002-1.001h2.716c.367 0 .704-.2.88-.523c.31-.569.805-1.113 1.486-1.631a8.629 8.629 0 0 1 3.039-1.469c-.25-3.114-.25-4.873 0-5.277c.25-.404.945.228 2.087 1.896c.163-1.964.481-2.684.955-2.16c.442.49 1.205 2.27 2.288 5.34c.142.4.347.778.607 1.115c.455.588.865 1.292 1.232 2.11c.697 1.556 1.511 5.62 2.952 7.619c1.44 1.999 2.281 2.163 4.361 2.533c1.382.246 6.147-.54 10.05-.692c3.006-.118 5.424.388 5.86.5c.157.041.307.086.453.14'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.healthicons--guide-dog {
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='%23000' d='M38.707 8.293a1 1 0 0 1 0 1.414L28.414 20h-2.828l-3.5 3.5h-9.264a18.252 18.252 0 0 1-.71-3.553a21.91 21.91 0 0 1-1.112.025c-1.164 0-2.96-.078-3.5-.472c-1-1.325-1.5-3.972-1.5-3.972s2.787-.951 4-1.381c0-3.224 4.168-5.064 6.286-2.347c.526-.003 1.126.166 1.688.511c1.016.624 1.4 3.436 1.18 4.709c1.605 1.89 3.658 2.666 6.346 2.952l.103.011l11.69-11.69a1 1 0 0 1 1.414 0m-10.41 11.825L23.5 24.914v6.715c2.732-.365 5.067-.932 8-2.629c2.138 3.919 3.929 5.045 4.848 5.624c.37.233.6.377.652.579c.12.46.246.797.344 1.06c.124.329.204.543.174.737H37a1 1 0 1 0 0 2h2a1 1 0 0 0 1-1v-4.523c0-1.977-3-7.249-3-7.249L41.5 32c.405.253.952-.233.5-1c-.189-.504-.395-1.164-.629-1.912c-1.114-3.567-2.847-9.116-6.252-9.116c-.493 0-1.202.026-2.036.055c-1.387.05-3.121.112-4.786.09M21.43 31.871l.07-.007V25.5h-7.914c.807 1.753 1.773 3.022 2.522 4.006c.139.183.27.355.392.52c.479.646 1.875 4.805-.205 6.974H16a1 1 0 1 0 0 2h3a1 1 0 0 0 .965-.737h.002c.005 0 .01-.001.014-.003c.042-.022.039-.136.03-.392a16.75 16.75 0 0 1-.011-.594v-5.249l.933-.1l.007-.001a369.28 369.28 0 0 0 .49-.053'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.carbon--dog-walker {
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='white' d='M20 20h2v10h-2zM4 23h2v7H4z'/%3E%3Cpath fill='white' d='M16 30h-2v-4a1.001 1.001 0 0 0-1-1h-2v5H9v-7h4a3.003 3.003 0 0 1 3 3zm-8.5-8A3.504 3.504 0 0 1 4 18.5V17H2v-2h4v3.5a1.5 1.5 0 0 0 3 0V15h4v2h-2v1.5A3.504 3.504 0 0 1 7.5 22M27 10h-5.646a2.986 2.986 0 0 0-2.786 1.886l-1.442 3.605l-3.607 4.51l1.562 1.25l3.7-4.626l1.645-3.996a.995.995 0 0 1 .928-.629H27a1 1 0 0 1 1 1v7h-3v10h2v-8h1a2.002 2.002 0 0 0 2-2v-7a3.003 3.003 0 0 0-3-3m-3-1a4 4 0 1 1 4-4a4.005 4.005 0 0 1-4 4m0-6a2 2 0 1 0 2 2a2.002 2.002 0 0 0-2-2'/%3E%3C/svg%3E");
}
.cil--animal {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' d='M382.825 304.576a131.562 131.562 0 0 0-253.65 0l-18.248 66.15A80 80 0 0 0 188.046 472h135.908a80 80 0 0 0 77.119-101.274Zm-20.682 116.5A47.638 47.638 0 0 1 323.954 440H188.046a48 48 0 0 1-46.272-60.765l18.248-66.149a99.563 99.563 0 0 1 191.956 0l18.248 66.149a47.636 47.636 0 0 1-8.083 41.845ZM146.1 230.31c2.784-17.4-.908-36.027-10.4-52.463s-23.78-28.947-40.237-35.236c-17.624-6.731-35.6-5.659-50.634 3.017c-29.887 17.256-37.752 59.785-17.529 94.805c9.489 16.436 23.778 28.95 40.235 35.236a64.058 64.058 0 0 0 22.863 4.371a55.133 55.133 0 0 0 27.771-7.389c15.025-8.677 24.945-23.714 27.931-42.341m-31.6-5.058c-1.43 8.929-5.81 15.92-12.333 19.686S87.4 249 78.95 245.775c-9.613-3.671-18.115-11.251-23.941-21.342c-11.2-19.4-8.538-42.8 5.82-51.092a23.483 23.483 0 0 1 11.847-3.058a31.951 31.951 0 0 1 11.368 2.217c9.613 3.673 18.115 11.252 23.941 21.343s8.139 21.248 6.515 31.409m35.066-61.235c11.362 9.083 24.337 13.813 37.458 13.812a54.965 54.965 0 0 0 11.689-1.261c33.723-7.331 54.17-45.443 45.58-84.958c-4.03-18.546-13.828-34.817-27.588-45.818c-14.735-11.78-32.189-16.239-49.147-12.551c-33.722 7.33-54.169 45.442-45.58 84.957c4.031 18.547 13.829 34.818 27.588 45.819m24.788-99.506a22.258 22.258 0 0 1 4.732-.5c5.948 0 12.066 2.327 17.637 6.781c8.037 6.425 13.826 16.234 16.3 27.621c4.76 21.895-4.906 43.368-21.107 46.89c-7.361 1.6-15.305-.628-22.367-6.275c-8.037-6.426-13.826-16.235-16.3-27.621c-4.761-21.901 4.905-43.374 21.105-46.896m292.817 81.117c-15.028-8.676-33.013-9.748-50.634-3.017c-16.457 6.287-30.746 18.8-40.235 35.236s-13.182 35.067-10.4 52.463c2.982 18.627 12.9 33.664 27.931 42.341a55.123 55.123 0 0 0 27.771 7.389a64.054 64.054 0 0 0 22.863-4.371c16.457-6.286 30.746-18.8 40.235-35.236c20.221-35.02 12.356-77.549-17.531-94.805m-10.18 78.805c-5.826 10.091-14.328 17.671-23.941 21.342c-8.446 3.228-16.692 2.931-23.215-.837s-10.9-10.757-12.333-19.686c-1.626-10.161.686-21.314 6.513-31.4s14.328-17.67 23.941-21.343a31.955 31.955 0 0 1 11.368-2.221a23.483 23.483 0 0 1 11.847 3.058c14.358 8.285 17.023 31.682 5.82 51.087m-143.704-47.865a54.965 54.965 0 0 0 11.689 1.261c13.12 0 26.1-4.729 37.458-13.812c13.759-11 23.557-27.272 27.588-45.818c8.589-39.515-11.858-77.627-45.58-84.957c-16.957-3.686-34.412.77-49.147 12.551c-13.76 11-23.558 27.272-27.588 45.817c-8.59 39.515 11.857 77.627 45.58 84.958m-14.31-78.16c2.474-11.387 8.263-21.2 16.3-27.621c5.572-4.454 11.689-6.781 17.637-6.781a22.258 22.258 0 0 1 4.732.5c16.2 3.522 25.866 25 21.107 46.89c-2.476 11.387-8.265 21.2-16.3 27.622c-7.061 5.646-15 7.874-22.367 6.275c-16.203-3.517-25.869-24.993-21.109-46.885'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
/*CSS supplementaire*/
.cart{
  position: fixed;
  top: 0;
  right: -200%;
  width: 360px;
  min-height: 100vh;
  padding: 20px;
  background: var(--bg-color);
  box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
  transition: 0.3s;
}
.cart.active{
  right: 0;  
  background: hsl(var(--hue-color), 4%, 10%);
}
.cart-title{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
}
.cart-img{
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding: 10px;
}
.detail-box{
  display: grid;
  row-gap: 0.5rem;
}
.cart-product-title{
  font-size: 1rem;
}
.cart-price{
  font-weight: 500;
}
.cart-quantity{
  border: 1px solid var(--text-color);
  outline-color: var(--main-color);
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
}
.cart-remove{
  font-size: 24px;
  color: var(--main-color);
  cursor: pointer;
}
.total{
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 1px solid var(--text-color);
}
.total-title{
  font-size: 1rem;
  font-weight: 600;
}
.total-price{
  margin-left: 0.5rem;
}
.btn-buy{
  display: flex;
  margin: 1.5rem auto 0 auto;
  padding: 12px 20px;
  border: none;
  background: var(--white-color);
  color: black;
  font-size: 1rem;
  font-size: 500;
  cursor: pointer;
}
.btn-buy:hover{
  background: var(--text-color);
}
#close-cart{
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 2rem;
  color: var(--text-color);
  cursor: pointer;
}
.cart-box{
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
#cart-icon {
  cursor: pointer;
}

/*Second Popup*/
.popup{
  position: fixed;
  top: -150%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%,-50%) scale(1.25);
  width: 380px;
  padding: 20px 30px;
  background: #fff;
  box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
  border-radius: 10px;
  transition: top 0ms ease-in-out 200ms,
              opacity 200ms ease-in-out 200ms,
              transform 200ms ease-in-out 0ms;
}
.popup.active{
  top: 50%;
  opacity: 1;
  transform: translate(-50%,-50%) scale(1);
  transition: top 0ms ease-in-out 200ms,
              opacity 200ms ease-in-out 200ms,
              transform 200ms ease-in-out 0ms;
  z-index: 998;
}
.popup .close-btn{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  background: #888;
  color: #eee;
  text-align: center;
  line-height: 15px;
  border-radius: 15px;
  cursor: pointer;
}
.popup .form-popup h2{
  text-align: center;
  color: #222;
  margin: 10px 0px 20px;
  font-size: 25px;
}
.popup .form-popup .form-element{
  margin: 15px 0px;
}
.popup .form-popup .form-element label{
  font-size: 14px;
  color: #222;
}
.popup .form-popup .form-element input[type="text"],
.popup .form-popup .form-element input[type="password"]
{
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 5px;
}
.popup .form-popup .form-element button{
  width: 50%;
  height: 40px;
  border: none;
  outline: none;
  font-size: 15px;
  background: #222;
  color: #f5f5f5;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 25%;
}
.popup .form-popup .form-element a {
  display: block;
  text-align: right;
  font-size: 15px;
  color: #1a79ca;
  text-decoration: none;
  font-weight: 600;
}
#valider-btn:disabled {
  /* Style pour le bouton désactivé */
  background-color: #cccccc; /* Gris */
  cursor: not-allowed;
}
.popup-success{
  position: fixed;
  top: 0  ;
  left: 50%;  
  transform: translate(-50%,-50%) scale(0.1);
  width: 380px;
  text-align: center;
  padding: 0 30px 30px;
  background: #fff;
  box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
  border-radius: 10px;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.open-popup.popup-success{
  visibility: visible;
  top: 50%;
  transform: translate(-50%,-50%) scale(1);
  z-index: 999;
}
.popup-success img{
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.popup-success h2{
  color: black;
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}
.popup-success p{
  color: black;
}
.popup-success button{
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}
/*Popup container*/

/*FAQ CSS*/
section.faq-section{
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  font-size: 3rem;
  margin: 2rem 0rem;
}

.faq{
  max-width: 700px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #fff;
  cursor: pointer;
}
.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question h3{
  font-size: 1.6rem;
}
.answer{
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease;
}
.answer p{
  text-align: justify;
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1.2rem;
}
.faq-more{
  margin-top: 4rem;
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq-more p{
  text-align: justify;
  font-size: 1.2rem;
}
.faq.active .answer{
  max-height: 300px;
  animation: fade 1s ease-in-out;
}

.faq.active svg{
  transform: rotate(180deg);
}

svg{
  transition: transform 0.5s ease-in;
}
.answer span{
  color: #ff014fff;
  font-weight: bold;
}

/*DESCRIPTION D*/
.skills{
  min-height: auto;
  padding-bottom: 7rem;
}

.skills .skills-row{
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.skills .skills-column{
  display: flex;
  flex-direction: column;
}

.skills-row .skills-column{
  flex: 1 1 40rem;
}

.skills-column{
  width: 400px;
}
.skills-column .title{
  font: 2.5rem;
  margin: 0 0 1.5rem;
}

.skills-box .skills-content{
  position: relative;
  border: .2rem solid var(--main-color);
  border-radius: .6rem;
  padding: .5rem 1.5rem;
  z-index: 1;
  overflow: hidden;
}
.skills-box .skills-content::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--scroll-thumb-color-alt);
  z-index: -1;
  transition: .5s;
}

.skills-box .skills-content:hover::before{
  width: 100%;
}

.skills-content .progress{
  padding: 0.1rem 0;
}

.skills-content .progress h3{
  display: flex;
  justify-content: space-between;
}

.skills-content .progress h3 span{
  color: #ff014fff;
}
.button-container {
  margin-top: 20px; 
  cursor: pointer;
}
.button-container .nextButton{
  text-align: center;
  cursor: pointer;
}

.skills-content .progress .bar{
  height: 2.5rem;
  border-radius: .6rem;
  border: .2rem solid var(--main-color);
  padding: .5rem;
  margin: 1rem 0;
}

.skills-content .progress .bar span{
  display: block;
  height: 100%;
  border-radius: .3rem;
  background: #ff014fff;
}






.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span{
  width: 90%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span{
  width: 90%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span{
  width: 70%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span{
  width: 80%;
}



.berger.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span{
  width: 80%;
}

.berger.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span{
  width: 40%;
}

.berger.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span{
  width: 90%;
}

.berger.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span{
  width: 100%;
}



.rott.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span{
  width: 90%;
}

.rott.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span{
  width: 90%;
}

.rott.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span{
  width: 45%;
}

.rott.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span{
  width: 100%;
}




.malin.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span{
  width: 80%;
}

.malin.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span{
  width: 90%;
}

.malin.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span{
  width: 80%;
}

.malin.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span{
  width: 100%;
}



.dober.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span{
  width: 100%;
}

.dober.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span{
  width: 80%;
}

.dober.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span{
  width: 80%;
}

.dober.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span{
  width: 75%;
}



.cane.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span{
  width: 80%;
}

.cane.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span{
  width: 90%;
}

.cane.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span{
  width: 75%;
}

.cane.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span{
  width: 80%;
}


.typing {
  color: #ff014fff;
}



@keyframes fade{
  from{
      opacity: 0;
      transform: translateY(-10px);
  }
  to{
      opacity: 1;
      transform: translateY(0px);
  }
}
/*FAQ CSS*/


